@page
@model ProiectWeb.Pages.Facturi.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Factura.ContactID" class="control-label">Contact Name</label>
                <select asp-for="Factura.ContactID" class="form-control" asp-items="ViewBag.ContactID" required>
                </select>
                <span asp-validation-for="Factura.ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Factura.ProprietateID" class="control-label">Adresa Proprietate</label>
                <select asp-for="Factura.ProprietateID" class="form-control" asp-items="ViewBag.ProprietateID" required>
                </select>
                <span asp-validation-for="Factura.ProprietateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Factura.suma" class="control-label"></label>
                <input asp-for="Factura.suma" class="form-control" required/>
                <span asp-validation-for="Factura.suma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Factura.Data" class="control-label"></label>
                <input asp-for="Factura.Data" class="form-control" required />
                <span asp-validation-for="Factura.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
