@page
@model ProiectWeb.Pages.Foodtrucks.DeleteModel

@{
    ViewData["Title"] = "Sterge";
}

<h1>Șterge</h1>

<h3>Ești sigur că vrei să ștergi această intrare?</h3>
<div>
    <h4>Foodtruck</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foodtruck.Tip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foodtruck.Tip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foodtruck.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Foodtruck.Adresa)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Foodtruck.ID"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Înapoi la listă</a>
    </form>
</div>