@page
@model ProiectWeb.Pages.Proprietati.CreateModel

@{
    ViewData["Title"] = "Adaugă";
}

<h1>Adaugă</h1>

<h4>Proprietate</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Proprietate.Tip_oferta" class="control-label"></label>
                <input asp-for="Proprietate.Tip_oferta" class="form-control" required/>
                <span asp-validation-for="Proprietate.Tip_oferta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proprietate.Zona" class="control-label"></label>
                <input asp-for="Proprietate.Zona" class="form-control" required/>
                <span asp-validation-for="Proprietate.Zona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proprietate.Nr_camere" class="control-label"></label>
                <input asp-for="Proprietate.Nr_camere" class="form-control" type="number" required/>
                <span asp-validation-for="Proprietate.Nr_camere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proprietate.Suprafata" class="control-label"></label>
                <input asp-for="Proprietate.Suprafata" class="form-control" type="number" required/>
                <span asp-validation-for="Proprietate.Suprafata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proprietate.Amplasament" class="control-label"></label>
                <input asp-for="Proprietate.Amplasament" class="form-control" required/>
                <span asp-validation-for="Proprietate.Amplasament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proprietate.Adresa" class="control-label"></label>
                <input asp-for="Proprietate.Adresa" class="form-control" required/>
                <span asp-validation-for="Proprietate.Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}